<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer Design with html css</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style media="screen">

    </style>
</head>
<body>
  <div class="toolbar" role="banner">
    <img
      width="40"
      alt="Sap Logo"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/SAP_2011_logo.svg/2560px-SAP_2011_logo.svg.png"
    />
    <span>Welcome To Employee Portal</span>
      <div class="spacer"></div>
      <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
      </a>
  </div>

  <div class="content" role="main">

    <!-- Highlight Card -->
    <!-- <div class="card highlight-card card-small"> -->

      <div id="card">
        <div id="card-content">
          <div id="card-title">
            <h2>LOGIN</h2>
            <div class="underline-title"></div>
          </div>
          <form  class="form">
            <label for="user-email" style="padding-top:13px">
                &nbsp;Employee Id
              </label>
            <input id="user" class="form-content" type="text" name="Username" autocomplete="on" required />
            <div class="form-border"></div>
            <label for="user-password" style="padding-top:22px">&nbsp;Password
              </label>
            <input id="pass" class="form-content" type="password" name="password" required />
            <div class="form-border"></div>
            <a href="#">
              <legend id="forgot-pass">Forgot password?</legend>
            </a>
            <input (click)="onClick()" id="submit-btn" type="submit" name="submit" value="LOGIN" >
            <a href="#" id="signup">Don't have account yet?</a>
          </form>
        </div>

      <!-- </div> -->

    </div>



  </div>
    <footer>
        <div class="footer-content">
            <h3>Kaar Technolgies</h3>
            <p>Kaar Tech is the World’s Best Pure-Play SAP Digital Transformation Consulting and Partner driven by 1000+ Specialized SAP Consultants and 5000+ Man-Years of SAP Expertise gained through 2000+ projects for 350+ customers across the globe.

              With the help of people, process, tools, and over 16 Years of assimilated SAP Expertise, Kaar Tech provides SAP License Sales, Implementations, Rollouts, and Support for SAP S/4HANA, RISE with SAP, SAP SuccessFactors, SAP Ariba, SAP Analytics Cloud, SAP Business Technology Platform, and RPA Solutions.</p>
            <ul class="socials">
                <li><a href="https://www.facebook.com/kaartech/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/kaartech?lang=en"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/kaar_technologies/?hl=en"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://youtu.be/IKiqKFrCBfE"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://in.linkedin.com/company/kaar-tech"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright Kaar Technologies 2021 <a href="#">ur names</a>  </p>
                    <div class="footer-menu">
                      <ul class="f-menu">
                        <li><a href="https://www.kaartech.com/">Home</a></li>
                        <li><a href="https://www.kaartech.com/about-us/">About</a></li>
                        <li><a href="https://www.kaartech.com/contact-us/">Contact</a></li>
                        <li><a href="https://www.kaartech.com/about-kaartech/">About Kaar Tech</a></li>
                      </ul>
                    </div>
        </div>

    </footer>
</body>
</html>

    
